@page
@model PrivacyModel
@{
    ViewData["Title"] = "Lyrics";
}
<h1>@ViewData["Title"]</h1>


<div> <h1>Why not me by enrique </h1></div>

One, Two <br>
Dile Que Yo No Puedo Esperar, <br>
Que Nada A Mi Ha Vuelto A Su Lugar,<br>
Dile Que Perdi La Libertad,<br>
Desde Que En Mi Lado Ya No Esta,<br>
Que No Tengo Miedo De Decirle Que La Quiero<br>
Dile Que No La Puedo Olvidar.<br>